<div id="contenedor">

<p> Seleccionar archivo SNP  o seleccionar uno de los <a href="/file/listarSNP"> archivos existentes</a></p>
<!-- enctype="multipart/form-data" -->
<form id="uploadForm"
      enctype="multipart/form-data"
      action="/file/upload"
      method="post">
        <label>Escribe un nombre para el archivo</label>
        <input type="text" name="name"></input>
    </br>
    <label>Cargar archivo</label>
        <input type="file" name="uploadFile" />
         </br>
        <input type="submit" value="Enviar"/>
</form>

</div>