<div id="contenedor">

<p>Selecciona el genoma que quieres verificar</p>

<form  action="/file/analizar" method="POST">
<select name="archivo">

   <% _.each(files, function(file) { %>
       <option><%= file %></option>
      <% }) %>

</select>

<button type="submit"> Verificar </button>

</form>
</div>